doctype html
html
  head
    title= title
    link(href='http://fonts.googleapis.com/css?family=Roboto|Roboto+Slab|Roboto+Mono', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block scripts
  body
    block content
