@import "_vars";

code{
    background:$lightGrey;
    font-family:"Roboto Mono";

    &.block{
        padding:$basePadding;
        width:60rem;
        overflow-x:auto;
        display:block;
        max-width:100%;
    }
}

p code{
    padding:0.1rem;
}