.checkboxLabel, [type=number] {
  display: block;
  padding: 0.1rem;
  background: #fafafa;
  margin: .4rem 0;
  border-radius: .1rem;
  border: none;
  font-size: 1rem;
}

.checkboxLabel {
  cursor: pointer;
}

.checkboxLabel input {
  display: none;
}

.checkboxLabel span {
  position: relative;
  padding-left: 2rem;
}

.checkboxLabel span:before {
  position: absolute;
  top: 0.1rem;
  left: 0.1rem;
  width: 1rem;
  height: 1rem;
  background: #efeff0;
  text-align: center;
  line-height: 0.9;
  content: "\2714";
  color: #efeff0;
  transition: background 300ms, color 300ms;
  border: 1px solid #cccccf;
}

.checkboxLabel :checked + span:before {
  background: #ce432b;
  border-color: #ce432b;
  color: #fafafa;
}

select, [type=submit] {
  display: block;
  width: 100%;
}

[type=submit], button {
  border: none;
  color: #efeff0;
  background: #ce432b;
  padding: 1rem;
}

[type=submit]:hover, button:hover {
  background: #ff5132;
}

[type=submit], button, .checkboxLabel, [type=number] {
  cursor: pointer;
  transition: background 300ms, transform 300ms, box-shadow 300ms;
}

[type=submit]:hover, [type=submit]:focus, button:hover, button:focus, .checkboxLabel:hover, .checkboxLabel:focus, [type=number]:hover, [type=number]:focus {
  transform: scale(1.02);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
}

[type=submit]:active, button:active, .checkboxLabel:active, [type=number]:active {
  transform: scale(0.98);
  box-shadow: 0px 0px 0px 0px transparent;
}

[type=number], [type=range] {
  display: block;
  width: 100%;
  margin: 0;
}
