@import "_vars";

.checkboxLabel, [type=number]{
    display:block;
    padding: 0.1rem;
    background: $white;
    margin: .4rem 0;
    border-radius: .1rem;
    border:none;
    font-size:1rem;
}

.checkboxLabel{
    cursor:pointer;

    input{
        display:none;
    }

    span{
        position:relative;
        padding-left:2rem;

        &:before{
            position: absolute;
            top: 0.1rem;
            left: 0.1rem;
            width: 1rem;
            height: 1rem;
            background: $lightGrey;
            text-align: center;
            line-height: 0.9;
            content: "\2714";
            color:$lightGrey;
            transition:background $baseDuration, color $baseDuration;
            border:1px solid $mediumGrey;
        }
    }

    :checked + span:before{
        background:$interactionColor;
        border-color:$interactionColor;
        color:$white;
    }
}

select, [type=submit]{
    display:block;
    width:100%;
}

[type=submit], button{
    border:none;
    color:$lightGrey;
    background:$interactionColor;
    padding:$basePadding;

    &:hover{
        background:$interactionColor_Hover;
    }
}

[type=submit], button, .checkboxLabel, [type=number]{
    cursor:pointer;
    transition:background $baseDuration, transform $baseDuration, box-shadow $baseDuration;

    &:hover, &:focus{
        transform:scale(1.02);
        box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
    }

    &:active{
        transform:scale(0.98);
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    }
}

[type=number], [type=range]{
    display:block;
    width:100%;
    margin:0;
}

[type=submit]{
    -webkit-appearance: none;
    border-radius:0;
}