* {
  box-sizing: border-box;
}

body {
  background: #fafafa;
}

aside, main, #header {
  padding: 1rem;
}

main {
  padding-top: 0;
}

aside {
  background: #efeff0;
}

section {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #efeff0;
}

section header {
  width: 35rem;
  position: relative;
}

section header button {
  position: absolute;
  top: 0;
  right: 0;
}

#generatedContent {
  background: #efeff0;
  padding: 0.1rem 1.1rem;
  width: 35rem;
  margin-top: 0.5rem;
}

@media (min-width: 60rem) {
  aside {
    width: 20rem;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
  }
  body {
    padding-right: 20rem;
  }
}
