@import "_vars";

*{
    box-sizing:border-box;
}

body{
    background:$white;
}

aside, main, #header{
    padding:$basePadding;
}

main{
    padding-top:0;
}

aside{
    background:$lightGrey;
}

section{
    margin-top:1rem;
    padding-top:1rem;
    border-top:1px solid $lightGrey;

    header{
        width:$textWidth;
        position:relative;

        button{
            position:absolute;
            top:0;
            right:0;
        }
    }
}

#generatedContent{
    background:$lightGrey;
    padding:0.1rem 1.1rem; // paragraphs have vertical margins
    width:$textWidth;
    margin-top:0.5rem;
}

@media (min-width:60rem){
    aside{
        width:$sidebarWidth;
        position:fixed;
        right:0;
        top:0;
        bottom:0;
    }

    body{
        padding-right:$sidebarWidth;
    }
}