@import "_vars";

*{
    box-sizing:border-box;
    color:#333;
}

aside, main, #header, code.block{
    padding:$basePadding;
}

main{
    padding-top:0;
}

aside, code{
    background:$lightGrey;
}

code.block{
    width:60rem;
    overflow-x:auto;
    display:block;
}

section{
    margin-top:1rem;
    padding-top:1rem;
    border-top:1px solid $lightGrey;
}

p{
    max-width:35rem;
}

h1{
    margin:0;
}

h2{
    margin-top:0;
}

.checkboxLabel{
    display:block;
    padding: 0.1rem;
    background: #fff;
    margin: .4rem 0;
    border-radius: .1rem;
    cursor:pointer;
    opacity:0.8;
    transition:opacity 300ms;
    
    &:hover{
        opacity:1;
    }

    input, span{
        display:inline-block;
        vertical-align: middle;
    }
}

@media (min-width:60rem){
    aside{
        width:$sidebarWidth;
        position:fixed;
        left:0;
        top:0;
        bottom:0;
    }

    body{
        padding-left:$sidebarWidth;
    }
}