* {
  box-sizing: border-box;
  color: #333;
}

aside, main, #header {
  padding: 1rem;
}

main {
  padding-top: 0;
}

aside {
  background: #efeff0;
}

section {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #efeff0;
}

@media (min-width: 60rem) {
  aside {
    width: 20rem;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
  }
  body {
    padding-left: 20rem;
  }
}

p {
  max-width: 35rem;
}

h1 {
  margin: 0;
}

h2 {
  margin-top: 0;
}

.checkboxLabel {
  display: block;
  padding: 0.1rem;
  background: #fff;
  margin: .4rem 0;
  border-radius: .1rem;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 300ms;
}

.checkboxLabel:hover {
  opacity: 1;
}

.checkboxLabel input, .checkboxLabel span {
  display: inline-block;
  vertical-align: middle;
}

code {
  background: #efeff0;
}

code.block {
  padding: 1rem;
  width: 60rem;
  overflow-x: auto;
  display: block;
}
